html, body{padding:0px; margin:0px;}
#baner{background-color:#812f8d; color:white; font-size:200%; text-align:center; padding:10px;}
#lewy{background-color:#bb74c4; color:white; width:25%; height:100%; float:left;}
#prawy{width:75%; float:left;}
h2{text-align:center;}
form{margin:20px;}
